In [1]:
import pandas as pd
import numpy as np

In [2]:
read = pd.read_csv("main.csv")

In [3]:
read.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [5]:
read.occupation.unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

In [10]:
min(read[read["occupation"]=='technician']["age"])

21

In [11]:
array1 = []
for i in read.occupation.unique():
    min_values = min(read[read["occupation"]==i]["age"])
    max_values = max(read[read["occupation"]==i]["age"])
    array1.append([i,min_values,max_values])

In [13]:
array1 = pd.DataFrame(array1,columns=["occupation","Min","Max"])

In [14]:
array1

       occupation  Min  Max
0      technician   21   55
1           other   13   64
2          writer   18   60
3       executive   22   69
4   administrator   21   70
5         student    7   42
6          lawyer   21   53
7        educator   23   63
8       scientist   23   55
9   entertainment   15   50
10     programmer   20   63
11      librarian   23   69
12      homemaker   20   50
13         artist   19   48
14       engineer   22   70
15      marketing   24   55
16           none   11   55
17     healthcare   22   62
18        retired   51   73
19       salesman   18   66
20         doctor   28   64

In [15]:
import os
os.chdir("..")
os.chdir("..")

In [16]:
os.listdir()

['Bungee Coding Round.docx', 'input', 'output', 'README.md']

In [17]:
array1.to_csv("output//answer-2/main.csv",header=False,index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'input/answer-2/main.csv'